nav .nav-wrapper {
  height: 64px;
  line-height: 64px;
  text-align: center;
}

nav .nav-wrapper .icon, .fallback {
  position: relative;
  height: 24px;
}

nav .nav-wrapper .icon .svg, .overlay {
  position: absolute;
  top:0;left:0;bottom:0;right:0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 0 0 2px 0;
}

.overlay {
  color: black;
}

svg {
  fill: white;
}

svg:hover {
  fill: green;
}

nav .nav-wrapper .caption {
  height: 16px;
  line-height: 16px;
  padding: 4px 0 0 0;
}

nav .nav-wrapper a.dropdown-button, a.dropdown-button i {
  height: 48px;
  line-height: 48px;
}

nav .nav-wrapper .dropdown a {
  text-align: left;
}

nav .nav-wrapper .dropdown-button i {
  display: inline;
}

li.tab {
  padding: 8px 8px;
}

li.tab.disabled a, li.tab.disabled a:hover {
  background-color: transparent;
  color: gray;
  cursor: default;
}

li.tab a.active {
  background-color: gray;
}

.tab {
  width: 12%;
}

.dropdown {
  width: 28%;
}

.content div.tab-container {
  display: none;
}

#callDisplay {
  display: none;
}

.connected {
  color: green;
}
